@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px 'Open Sans', sans-serif;
}


body.off-air {
  background: linear-gradient(to bottom right,
      rgb(180, 180, 180),
      rgb(230, 230, 230));

}

body.on-air {
  background: linear-gradient(to bottom,
      rgb(230, 120, 0),
      rgb(255, 156, 0),
      rgb(255, 200, 100));
}

.top-left {
  position: fixed;
  /* stays in the same spot even when scrolling */
  top: 10px;
  /* distance from the top */
  left: 10px;
  /* distance from the left */
  font-size: 18px;
  font-weight: bold;
  font-family: 'Press Start 2P', sans-serif;
  display: inline-flex;
  align-items: center;
  /* Vertically centers everything */
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 1);
}

.top-left::before {
  content: "\f26c";
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  /* Required for solid icons */
  margin-left: 8px;
  padding-right: 5px;
}

.top-left-live {
  position: fixed;
  /* stays in the same spot even when scrolling */
  top: 35px;
  /* distance from the top */
  left: 15px;
  /* distance from the left */
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-shadow: 0.4px 0 0 currentColor, -0.4px 0 0 currentColor;
  display: inline-flex;
  align-items: right;
  background-color: white;
  /* Vertically centers everything */
  color: red;

  padding: 3px;
  padding-left: 35px;
  width: 110px;
  display: none;

}

.top-right {
  position: fixed;
  /* stays in the same spot even when scrolling */
  top: 10px;
  /* distance from the top */
  right: 10px;
  /* distance from the left */
  font-size: 18px;
  font-weight: bold;
  font-family: 'Press Start 2P', sans-serif;
  display: inline-flex;
  align-items: center;
  /* Vertically centers everything */
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 1);
}

.top-right::after {
  content: "\f46b";
  font-family: "Font Awesome 7 Free";
  font-weight: 1200;
  /* Required for solid icons */
  margin-left: 8px;
  padding-right: 5px;
}

.tv {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.on-air-bar {
  display:none;
}

.next-bar {
  width: 100%;
  font-family: 'Poppins', 'Inter', sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-shadow: 0.4px 0 0 currentColor, -0.4px 0 0 currentColor;
  text-align: right;
  padding: 7px;
  /*background: rgba(255,156,0, 0.2);*/
  background: rgba(255, 255, 255, 0.8);

}

.next-bar span {
  color: rgba(0, 0, 0, 1);
  font-size: 0.85rem;
  text-shadow: 0.4px 0 0 currentColor, -0.4px 0 0 currentColor;
}

.next-bar .next-text {
  display: inline-block;
}

.footer-bar {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  font-family: 'Poppins', 'Inter', sans-serif;
  font-weight: 800;
  font-size: 0.8rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-shadow: 0.4px 0 0 currentColor, -0.4px 0 0 currentColor;
  text-align: left;

  padding: 7px;
  white-space: nowrap;
  overflow: hidden;


}

/* The sliding text */
.footer-ticker {
  display: inline-block;
  padding-left: 100%;
  animation: slide-left 50s linear infinite;

}

/* Animation definition */
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.footer-bar span {
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 1);
  text-shadow: 0.4px 0 0 currentColor, -0.4px 0 0 currentColor;
}

.footer-bar .separator {
  color: rgba(255, 156, 0, 0.25);
  padding: 0 5px;
}

.footer-bar p {
  display: inline-block;
  padding-right: 50px;
}

.footer-bar .trending::before {
  content: "\e098";
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  /* Required for solid icons */
  margin-left: 8px;
  padding-right: 2px;
  color: green;
}

.footer-bar .spotlight::before {
  content: "\f086";
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  /* Required for solid icons */
  margin-left: 8px;
  padding-right: 2px;
  color: lightskyblue;
}

.footer-bar .news::before {
  content: "\f111";
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  /* Required for solid icons */
  margin-left: 8px;
  padding-right: 2px;
  color: red;
}

.stats {
  width: 100%;

  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;


}

.stat {
  display: flex;
  justify-content: center;
  /* centers horizontally */
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  color: orange;

  padding: 20px;
}

.stat .description {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  font-variant: small-caps;
  color: black;
}

.value-container {
  display: flex;
  align-items: center;

}

.value-container i {
  margin-right: 10px;
}

.display {
  height: 82vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  flex-grow: 1;
}

.box {
  width: 50vmin;
  height: 50vmin;
  border: 0.5px dashed rgba(255, 255, 255, 1);
  position: relative;
  background-color: black;



  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 1px dashed rgba(255, 255, 255, 1);
    transform: scale(1.42);
    background-color: white;
  }
}

.spin-container {
  width: 100%;
  height: 100%;
  animation: spin 12s ease-in-out infinite alternate;
  position: relative;
}

.shape {
  width: 100%;
  height: 100%;
  transition: border-radius 1s ease-out;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite both alternate;
  position: absolute;
  overflow: hidden;
  z-index: 5;
}

.bd {
  width: 142%;
  height: 142%;
  position: absolute;
  left: -21%;
  top: -21%;
  background: url(trent4.png);
  background-size: 110%;
  background-position: center center;
  display: flex;
  color: #003;
  font-size: 5vw;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  animation: spin 12s ease-in-out infinite alternate-reverse;
  opacity: 1;
  z-index: 2;
  filter: grayscale(100%);
}

.middle-bar {
  position: fixed;
  display: flex;
  align-items: center;
  top: 35%;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  text-align: left;
  padding: 10px;
  width: 100%;
  height: 10%;
  font-weight: bold;
  z-index: -100;
  display: none;

}

.middle-bar p {
  width: 50%;
}

.middle-bar .name {
  text-align: left;

}

.middle-bar .title {
  text-align: right;

}



audio {
  display: none;
}


@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
  }

  100% {
    border-radius: 40% 60%;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}


/* === Mobile Styles === */
@media (max-width: 768px) {
  .top-left {
    font-size: 0.6rem;
  }

  .top-right {
    font-size: 0.6rem;
  }

  .top-left-live {
    top: 30px;
    width: 60px;
    font-size: 0.7rem;
    padding-left: 15px;
  }

  .on-air-bar {
    width: 100%;
    font-family: 'Poppins', 'Inter', sans-serif;
    font-weight: 800;
    font-size: 0.6rem;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    text-shadow: 0.4px 0 0 currentColor, -0.4px 0 0 currentColor;
    text-align: right;
    padding: 7px;
    background: rgba(255, 255, 255, 0.8);
    display:block;

  }

  .on-air-bar .on-air-text {
    display: inline-block;
    
  }

  .next-bar {
    font-size: 0.7rem;
    display: none;
  }

  .next-bar span {
    font-size: 0.72rem;
  }

  .stat {
    font-size: 15px;
    padding: 5px 5px 15px 5px;
  }

  .stat .value-container {
    flex-direction: column;

  }

  .stat i {
    padding: 10px;
  }

  .stat .description {
    display: none;
  }

  .footer-bar {
    font-size: 0.6rem;
  }

  .footer-bar span {
    font-size: 0.62rem;
  }

  .middle-bar {
    top: 32%;
  }

  .middle-bar p {
    color: transparent;

  }

}